.dashboard {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  padding: 20px;
}

 .dashboard h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   height: 290px; 
}
.card img {
  width: 100%;
  height: 120px; /* same height for all images */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 14.5px;
  margin-bottom: 5px;
  flex-grow: 0;
}

.card .uploader {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
 margin-bottom: 5px;
}
.tags span {
  font-size: 0.9rem;
  background: #e0e0e0;

  padding: 0.2rem;
  border-radius: 5px;
}
.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 12px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #e0e0e0;
}

.btn:hover {
  background: #d0d0d0;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.primary:hover {
  background: #1e4fc9;
}


.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-table {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
 
}
.browse-btn {
  background: transparent;
  border: 1px solid #ddd;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.light table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.light thead {
  background: #f9f9f9;
  font-weight: bold;
}

.light th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}


.view-all {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.section .table-header h3{
  margin-top: 1.5rem;
}
