
body.light {
  background-color: #fff;
  color: #000;
}
body.dark {
  background-color: #000000;
  color: #f9f9f9;
}
.dark .nav-links a{
  color: white;
}

.dark div,
.dark select {
  color: white;
  background-color: #000000;
}
.dark select{
  margin-top: 0.5rem;
  padding: 0.6rem;
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
}
.dark .cards {
  background: rgba(128, 128, 128, 0.293);
  padding: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}
.dark .user-man-input input{
background-color: #000;
color:white ;
border: 1px solid rgba(128, 128, 128, 0.293);
margin-bottom: 15px;
}
.dark .user-man-container{
  border: 1px solid rgba(128, 128, 128, 0.293);
}
.dark .upload-container{
  max-width: 700px;
  margin: 5px auto;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
border: 1px solid  rgba(128, 128, 128, 0.293);;
}
.dark .form-group input{
  background-color: #000;
  border: 1px solid  rgba(128, 128, 128, 0.293);;
  color: white;
}
.dark .file-upload{
    border: 2px dashed rgba(128, 128, 128, 0.293);
}
.dark .form-group textarea{
   background-color: rgb(0, 0, 0);
   border: 1px solid  rgba(128, 128, 128, 0.293);; 
}
.dark .form-row select{
  border: 1px solid  rgba(128, 128, 128, 0.293);;
}
.dark a,
.dark h3 {
  color: white;
}
.dark table{
  border: 1px solid rgba(128, 128, 128, 0.293);
}
.dark thead,
.dark tbody {
  border: 1px solid rgba(128, 128, 128, 0.293);;
  background-color: #000;
}
.dark .nav-link{
  margin-bottom: 0.2rem;
box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.293);
}
.dark .profile-card{
 box-shadow: 0.5px 1px 3px 2px rgba(128, 128, 128, 0.293); 
}
.dark .profile-tabs{
 background-color: rgba(204, 204, 204, 0.293);
 color: rgb(0, 0, 0); 
}
.dark .profile-tabs button{
   color: rgb(0, 0, 0); 
}
.dark .active{
  color: white;
  transition: ease-in-out 0.3s;
  background:rgb(128, 128, 128);
}
.dark td , .dark th{
border:1px solid rgba(128, 128, 128, 0.293) ;
 padding: 1rem;
  text-align: left;
}
.dark .tags span{
  background-color:  rgba(128, 128, 128, 0.293);
}
.dark .browse-btn{
  border:1px solid  rgba(128, 128, 128, 0.293);
  color: #fff;
}
.dark table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background: rgba(128, 128, 128, 0.293);
  border-radius: 8px;
  overflow: hidden;
}
.dark .materials-table{
  background-color: rgba(128, 128, 128, 0.293);
}
.dark .materials-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}
.dark .materials-table th,
.dark .materials-table td {
  padding: 1rem;
  text-align: left;
  font-size: 0.95rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.293);
}
.dark .materials-table th {
  background: rgba(128, 128, 128, 0.293);
  font-weight: 600;
}

.dark .agent-sidebar-toggle .agent-sidebar  {
  border-right: 1px solid rgba(128, 128, 128, 0.293);
}

.dark .agent-sidebar-toggle .agent-sidebarI  {
  border-right: 1px solid rgba(128, 128, 128, 0.293);
}
.dark .agent-sidebar__link--active{
  background-color: rgba(128, 128, 128, 0.293)
}
.dark .toggle-switch {
  width: 44px;
  height: 24px;
  background: #ccc;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background 1s;
}
.dark .toggle-switch.on {
  background: #3b82f6;
}
.dark .toggle-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}
.dark .toggle-switch.on .toggle-thumb {
  transform: translateX(20px);
}
.dark .agent-sidebar__bottom {
  margin-bottom: 2.2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.293);
}
.dark .footer{
  border-top:1px solid rgba(128, 128, 128, 0.293);
}
.dark .material-card {

  padding: 1rem;
  border-radius: 10px;
border:  1px solid rgba(128, 128, 128, 0.293);
}
.dark .thumbnail {
  height: 120px;
  background: rgba(128, 128, 128, 0.293);
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.dark .arrow1,
.dark .arrow2{
  padding: 5px;
  border: 1px solid  rgba(53, 52, 52, 0.507);;
  border-radius: 50px;
  background-color: #000000;
  color:#ffffff;
  font-size: 1rem;
}
