
/* Full page background */
/* .form-box h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
} */

.loginlogin-form-header{
  display: flex;
  flex-direction: column;
    text-align: center;
}
  .form-group select {
  width: 102%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}
.form-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(225, 225, 252);
  font-family: Arial, sans-serif;
}

/* Card container */
.form-container {
  display: flex;
  gap: 2.2rem;
  width: 950px;
  max-width: 200%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Left image */
.form-container img {
  width: 110%;
  display: block;
  height: auto;
  object-fit: cover;
background-color:  rgb(197, 197, 202);;
  margin-bottom: -10px;
}

/* Right form section */
.form-box {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Input groups */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
}



.form-group select:focus {
  border-color: #6b46c1;
  box-shadow: 0 0 0 2px rgba(107, 70, 193, 0.2);
}

/* Password input wrapper */
.password-input-login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
    width: 103%;
}
.form-group .password-input:focus {
  border-color: #6b46c1;
  box-shadow: 0 0 0 2px rgba(107, 70, 193, 0.2);
}
.form-group input{
  width: 97%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}
.password-input input {
  flex: 1;
  border: none;

}
.password-input{
  width: 100.5%;

}

/* Scoped login button */
.login-btn {
  width: 100%;
  padding: 0.8rem;
  background: #29437c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-top: 1rem;
}

.login-btn:hover {
  background: #535ef0;
}

/* Links below form */
.login-links {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.login-links a {
  color: #6b46c1;
  font-weight: 600;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.loginloader {
     display: inline-block; 
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
/* Responsive */
@media (max-width: 960px) {
  .form-container {
    flex-direction: column;
    width: 90%;
  }

  .form-container img {
   
    display: none;
  }
  .form-group select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}


.password-input{
  width: 99%;

}
}
