.border-act{
      background-color: #fff;
      padding: 1rem;
      border-radius: 20px;
}
.quick-set{
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      color: #2f5199;
      border-bottom: 2px solid #2f5199;;
}
.border-act ul li{
      margin-bottom: 1rem;
       color: #2f5199;
}