.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
 
}

.layout__content {
  display: flex;
gap: 0.5rem;
  flex: 1;
  overflow: hidden;
}

.layout__main {
  flex: 1;

margin-bottom: 25px;
border-radius: 20px;
  overflow-y: auto;
  background-color: #ffffff;
}
.dark .layout__main{
background-color: #000000;
}
::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}