.agent-sidebar {
  width: 210px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.agent-sidebar.collapsed {
  width: 50px;
    transition: width 0.3s ease;
}

.agent-sidebar__nav-list {
  list-style: none;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.agent-sidebar__nav-list a{
  text-decoration: none;
}
.agent-sidebar__nav-list a span{
  font-size: 1.1rem;
  color: #2f5199;
}

.agent-sidebar__link {
  display: flex;
  align-items: center;
  padding: 10px;
   color: #2f5199;
  border-radius: 8px;
  font-weight: 500;
  gap: 10px;
  transition: background 0.2s ease, color 0.2s ease;
}

.agent-sidebar__link--active{
  background-color:  #2f5199;
  color: rgb(225, 225, 252);;
  font-weight: bold;
}
.agent-sidebar__link--active .sidebar-label{
  color: rgb(225, 225, 252);;
  font-weight: bold;
}

.sidebar-label {
  white-space: nowrap;
}

.sidebar-section-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  color:#2f5199;;
}

.sidebar-toggle {
  margin-top: auto;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.sidebar-toggle .bi-list{
  font-size: 2rem;
    color:  #2f5199;
}
.sidebar-toggle:hover {
  background-color: #f2f4f8;
}
.toggler{
  display: flex;
  flex-direction: column;

}
.sidebar-divider {
  border: none;
  border-top: 2px solid  #2f5199;
  margin: 8px 0;
}
.bi-house-door,
.bi-upload,
.bi-person-circle,
.bi-people,
.bi-file-earmark-spreadsheet
{
font-size: 1.5rem;
}
/* Expanded badge (next to text) */
.sidebar-badge-expanded {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 8px;
  font-size: 0.75rem;
  font-weight: bold;
}


@media (max-width: 600px) {
  .agent-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;      /* full width */
    height: 100vh;
    z-index: 1000;
    background-color: rgb(225, 225, 252);;
  }

  .agent-sidebar.collapsed {
    left: -100%; 
    ; 
  }
.bi-house-door,
.bi-upload,
.bi-person-circle,
.bi-people,
.bi-file-earmark-spreadsheet
{
  font-size: 0.8rem;
}
.agent-sidebar__nav-list a span{
  font-size: 0.8rem;
}
.agent-sidebar__nav-list .firstLi{
  
    color: #2f5199;
    font-weight: 800;
    font-style: italic;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* dimmed background */
  z-index: 999; /* below sidebar but above content */
}

}