.settings-details{
    display: flex;
    gap: 1rem;

}

.settings-table{
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

}
/*FOR USER PROFILE INFORMATION*/
.user-profile-info-card{
 background-color:  #f3f4f5;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  position: relative;
 
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.cp-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #2f5199;
}
.cp-input1{
display: flex;
gap: 2rem;
}
.my-input-fields{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
    
}
.my-input-fields input{
    padding: 0.6rem;
    width: 100%;
    background-color:#e7e7e7 ;
    border: none;
    outline: none;
}
.my-input-fields input.editable{
    background-color: #ffffff;
 
}
.my-input-fields2{
     gap: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.my-input-fields2 input{
    padding: 0.6rem;
    width: 100%;
       background-color:#e7e7e7 ;
    border: none;
    outline: none;
}
.btn-up{
text-align: end;
margin-top: 10px;
margin-right: -16px;
}
.btn-up button{
    background-color:  #2563eb;
    border: none;
    padding: 0.6rem;
    color: white;
}
/*FOR DELETE*/
.delete-user-profile-info-card{
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  position: relative;
 border: 1px solid rgb(196, 11, 11);
 background-color:  #f5f8fa;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.delete-user-profile-info-card h2{
color: rgb(196, 11, 11);
}
.delete-btn button{
    background-color:rgb(196, 11, 11);
    padding: 0.6rem;
    border: none;
    color: white;
}
.btn-actions{
    
    text-align: end;
    margin-top: 10px;
    margin-right: -16px;
}
.btn-actions button{
    background-color: #2563eb;
    border: none;
    padding: 0.6rem;
    color: white;
}
/* .Delete-card{
    margin-top: 20px;
} */
 @media (max-width: 600px) {
.cp-card h2{
font-size: 1.2rem;
}
.cp-card p {
    font-size: 0.9rem;
}
.user-profile-info-card{
    padding: 1.5rem;
}
.delete-user-profile-info-card{
    padding: 1.5rem;
}
.delete-user-profile-info-card h2 {
    font-size: 1.2rem;
}
.delete-user-profile-info-card p {
    font-size: 0.9rem;
}
.my-input-fields input {
    padding: 0.4rem;
   
}
}